<!DOCTYPE html>
<html>
  <head>
    <title>Vtuber API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <span>VtuberAPI</span>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <div class="header">
      <h1>Vtuber API</h1>
      <h2>A RESTful Vtuber based API</h2>
    </div>
    <div class="header">
      <h3>Access up to date vtuber information in the scene.</h3>
      <h3>Primarily created to power Vtuber Wordle.</h3>
    </div>
  </body>
</html>
